/* estilos para TABLETS */

@media (min-width: 481px){
    
    .logo {
        width: 150px;
        margin-bottom: 0;
    }

    .main-header-top {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .height-input-top-bar {
        height: 30px;
        margin: 0 15px;
    }

    .box-input-search {
        margin-bottom: 0;
    }

    .box-copy-header {
        width: 50%;
        align-self: center;
    }

    .height-input-search {
        height: 100%;
    }

    .copy-header {
        width: 100%;
        text-align: right;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
    }

    .left-navbar {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        font-size: 10px;
    }

    .right-navbar {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        font-size: 10px;
    }

    .hamburguer-button { /* estilos de menu hamburguesa */
        display: none;
    }

    .style-title {
        text-align: left;
        font-size: 20px;
    }

    .grid-product {
        display: flex;
        flex-wrap: wrap;
    }

    .wrapper {
        width: 50%;
        padding: 10px;
    }

    .box-card-product {        
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }

    .style-text-product {
        margin-top: 10px;
        display: none;
        width: 100%;
    }

    .box-card-product:hover .style-text-product {
        display: block;
    }

    .box-card-product:hover {
        box-shadow: 0px 0px 20px rgb(0,0,0);
    }

    .box-card-product:hover .card-product i {
        transform: rotate(-90deg);
        transition-duration: 2000ms;
    }

    .footer-list li p {
        width: 25%;
        margin: 0 auto;
    }

    .footer-page {
        padding-bottom: 30px;
    }

    .copyright {
        margin-top: 25px;
    }
}