* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;    
}

.main-header {
    background-color: #eac926;
    padding: 15px;
}

.main-header-top {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    margin-bottom: 20px;
}

.logo {
    width: 50%;
    padding: 0 10px;
    margin-bottom: 20px;
}

.box-input-search {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 30px;
    align-self: center;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
}

.input-search {
    width: 90%;
    height: 100%;
    border-radius: 5px;
}

.box-copy-header {
    width: 100%;
    text-align: center;
}

.copy-header{
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    width: 100%;
}

.hamburguer-button { /* estilos de menu hamburguesa */
    background-color: #1259c3;
    color: #ffffff;
    display: block;
    max-width: 50px;
    /* padding: 5px 0; */
    border-radius: 8px;    
    text-align: center;
    font-size: 17px;
    margin: auto;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
}


/* estilos de enlaces */
.decoration-bullets {
    list-style: none;
}

.decoration-link-none {
    text-decoration: none;
}

/* estilos de iconos */
.size-icon {
    font-size: 2em;
}

/* margin de elementos */
.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.main-product {
    margin: 0 auto;
    width: 90%;
}

.style-title {
    font-size: 24px;
    text-align: center;
    color: #666666;
    margin: 20px 0;
}

.wrapper {
    width: 100%;
    padding: 10px;
}

.box-card-product {
    margin-bottom: 10px;
}

.image-product {
    width: 100%;
}

.card-product {
    border-top: 1px solid #ebebeb;
    padding: 15px;
    background-color: #ffffff;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.style-text-price {
    font-size: 18px;
    min-width: 30%;
    padding-left: 5px;
}

.style-text-discount {
    font-size: 16px;
    color: #39b54a;
    max-width: 70%;
    padding-left: 5px;
}

.style-text-product {
    font-size: 16px;
    color: #666666;
    padding-left: 5px;
    font-weight: 200;
}

.margin-center-hor {
    margin: 0 auto;
}

.margin-center-ver {
    margin: auto 0;
}

.mtb-20px {
    margin: 20px 0;
}

/* padding de elementos */
.padding-sm {
    padding: 12px;
}

.pd-15px {
    padding: 15px;
}

.pd-tb40-lr60 {
    padding: 40px 60px 0 60px;
}

.pt-40px {
    padding-top: 40px;
}

.pb-20px {
    padding-bottom: 20px;
}

.plr-15px {
    padding-left: 15px;
    padding-right: 15px;
}

.plr-10px {
    padding-left: 10px;
    padding-right: 10px;
}

.plr-5px {
    padding-left: 5px;
    padding-right: 5px;
}


/* display de elementos */
.display-inline-block {
    display: inline-block;
}

/* estilo de menú hamburguesa */
.burger-menu {
    display: block;
    width: 50px;
    text-align: center;
}

/* ancho de elementos */
.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.w-70 {
    width: 70%;
}

.w-50 {
    width: 50%;
}

.w-30 {
    width: 30%;
}

.w-20 {
    width: 20%;
}

/* alineación de elementos */
.aling-center {
    align-items: center;
}

.h-center {
    justify-content: center;
}

.aling-around {
    justify-content: space-around;
}

.text-center {
    text-align: center;
}

/* estilos de box */
.border-radius-sm {
    border-radius: 5px;
}

.border-div {
    border-top: 1px solid #ebebeb;
}

.border-none {
    border:none;
}

.pos-relative {
    position: relative;
}

.style-truck {
    color: #39b54a;
    border: 1px solid #39b54a;    
    padding: 5px;
    /* display: ​block​; */
    font-size: 16px;    
    width: 30px;
    height: 30px;    
    background-color:#ffffff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}