* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;    
}
/* estilos de fondos */
.bg-yellow {
    background-color: #EAC926;
}

.bg-blue {
    background-color: #03264C;
}

.bg-lightblue {
    background-color: #1259c3;
}

.bg-lightgrey {
    background-color: #ebebeb;
}

.bg-white {
    background-color: #fff;
}

/* estilos de texto */
.text-size-sm {
    font-size: 16px;
}

.text-size-md {
    font-size: 18px;
}

.text-size-lg {
    font-size: 24px;
}

.text-aling-center {
    text-align: center;
}

.text-aling-left {
    text-align: left;
}

.text-color-lightgrey {
    color: #ebebeb;
}

.text-color-darkgray {
    color: #666;
}

.text-color-green {
    color: #39b54a;
}

.text-color-black {
    color: #000;
}

.text-color-blue {
    color: #03264C;
}

.text-color-white {
    color: #fff;
}

.text-color-lightblue {
    color: #1259c3;
}

.text-color-yellow {
    color: #EAC926;
}

/* estilos de enlaces */
.decoration-bullets {
    list-style: none;
}

.decoration-link-none {
    text-decoration: none;
}

/* estilos de iconos */
.size-icon {
    font-size: 2em;
}

/* margin de elementos */
.mb-10 {
    margin-bottom: 10px;
}

.margin-main {
    margin: 0 auto;
    width: 90vw;
}

.margin-center {
    margin: 0 auto;
}

.mtb-20px {
    margin: 20px 0;
}

/* padding de elementos */
.padding-sm {
    padding: 12px;
}

.pd-15px {
    padding: 15px;
}

.pd-tb40-lr60 {
    padding: 40px 60px 0 60px;
}

.pt-40px {
    padding-top: 40px;
}

.pb-20px {
    padding-bottom: 20px;
}

.plr-10px {
    padding-left: 15px;
    padding-right: 15px;
}

/* display de elementos */
.display-inline-block {
    display: inline-block;
}

.display-inline {
    display: inline;
}

/* estilos de box */
.border-radius-sm {
    border-radius: 5px;
}

.border-div {
    border-top: 1px solid #ebebeb;
}

.style-truck {
    border: 1px solid #39b54a;
    border-radius: 25px;
    padding: 5px;
}