* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;    
}

.main-header {
    background-color: #eac926;
    padding: 15px;
}

.logo {
    width: 150px;
}

.copy-header{
    font-weight: 400;
}

.hamburguer-button { /* estilos de menu hamburguesa */
    background-color: #1259c3;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 5px 0;
    border-radius: 8px;    
    text-align: center;
    font-size: 17px;
    margin: auto;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
}

/* estilos de enlaces */
.decoration-bullets {
    list-style: none;
}

.decoration-link-none {
    text-decoration: none;
}

/* estilos de iconos */
.size-icon {
    font-size: 2em;
}

/* margin de elementos */
.mb-10 {
    margin-bottom: 10px;
}

.margin-main {
    margin: 0 auto;
    width: 90vw;
}

.margin-center-hor {
    margin: 0 auto;
}

.margin-center-ver {
    margin: auto 0;
}

.mtb-20px {
    margin: 20px 0;
}

/* padding de elementos */
.padding-sm {
    padding: 12px;
}

.pd-15px {
    padding: 15px;
}

.pd-tb40-lr60 {
    padding: 40px 60px 0 60px;
}

.pt-40px {
    padding-top: 40px;
}

.pb-20px {
    padding-bottom: 20px;
}

.plr-10px {
    padding-left: 15px;
    padding-right: 15px;
}

/* display de elementos */
.display-inline-block {
    display: inline-block;
}

/* estilo de menú hamburguesa */
.burger-menu {
    display: block;
    width: 50px;
    text-align: center;
}

/* estilos de box */
.border-radius-sm {
    border-radius: 5px;
}

.border-div {
    border-top: 1px solid #ebebeb;
}

.border-none {
    border:none;
}

.style-truck {
    border: 1px solid #39b54a;
    border-radius: 25px;
    padding: 5px;
}